/* GENERAL STYLES */
html, body {
	height: 100%;
}
em, i {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}

/* GRID STYLES */
.row {
	height: 100%;
	margin: 0;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* PROJECT STRUCTURE AREA STYLES */
#proj_struct {
	background: #61125f;
	padding: 0 2%;
	height: 100%;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
    overflow: auto;
}
#proj_struct h1 {
	font-family: 'Oswald', sans-serif;
}
#proj_struct a {
	color: #FFF;
}
#proj_struct .func_results li a {
	color: #07C;
}
#proj_struct ul {
    padding-left: 10%;
}
#proj_struct ul li {
    list-style-image: url('../images/folder-icon.png')
}
#proj_struct ul ul {
    padding-left: 7%;
}
#proj_struct ul li ul li, .func_results li {
    list-style-type: disc;
    list-style-image: none !important;
}
.s-results {
    margin: 5% 0;
    color: #000;
    background: #ebebeb;
    opacity: 0.9;
    padding: 3% 2%;
    border-radius: 4px;
}
.close-fsearch {
    float: right;
    cursor: pointer;
    color: #999999;
    right: 2%;
}

/* CODE AREA STYLES */
#code_area {
	height: 100%;
	margin: 0;
	background: url('../images/cpp-backgr.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}
#code_area br {
    display: none;
}
.line {
    font-size: 14px;
}
.line.alt-row {
    background: #EBEBEB;
}
.line span.l_num {
    display: inline-block;
    width: 10px;
    margin-right: 1%;
}
.func_link > span {
    color: #337ab7;
}
.f_name {
    float: right;
    font-size: 23px;
}

/* POPOVER STYLES */
#upload-proj-popover {
    position: absolute;
    bottom: 5%;
    right: 2%;
    background: url('../images/plus.png');
    width: 35px;
    height: 35px;
    z-index: 9999999;
    background-size: cover;
}
body > .popover {
    bottom: 5%;
    right: 5%;
    padding: 0;
}
.popover {
    white-space: pre-line;    
}